<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Cat
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Cat</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Cute kitty cat app</strong>

    <img [src]="catUrl" alt="Cat image" />
    <button (click)="loadRandomCat()" [disabled]="loadingCat">Load Random Cat</button>

  </div>
</ion-content>
